@charset "UTF-8";

.product__details__pic__item img{
	width:400px; 
	height :380px;
}
.product__details__text h3{
	display:inline-flex; 
	color:#7fad39;
}

.product__details__pic__item img{
	
	width:400px; 
	height:380px;
}
