<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.mapper.LikeStoreMapper">

	<insert id="addLikeStore" parameterType="LikeStoreVO">
		insert into likestore 
		values (seq_likestore.nextval, #{u_id}, #{s_num})
	</insert>
	
	<select id="getCountBySn" parameterType="int" resultType="int">
		select count(*) from likestore where s_num=#{s_num}
	</select>
	
	<select id="getListByUid" parameterType="String" resultType="LikeStoreVO">
		select * from likestore where u_id=#{u_id}
	</select>
	
</mapper>