<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.MenuMapper">
	
	<select id="listByNum" parameterType="int" resultType="MenuVO">
		SELECT * FROM menu_reg WHERE s_num = #{s_num}
 	</select>
 	
 	<update id="modifyByNum" parameterType="int">
 		UPDATE menu_reg SET price=#{price} WHERE menu_num = #{menu_num}
 	</update>
 	
	<delete id="deleteByNum" parameterType="int">
		DELETE FROM menu_reg WHERE menu_num = #{menu_num}
	</delete>
	
	<insert id="register" parameterType="MenuVO">
		INSERT  
		INTO menu_reg
		values(seq_menu_reg.nextval
			  ,#{u_id,jdbcType=VARCHAR}
			  ,#{s_num,jdbcType=INTEGER}
			  ,#{meat,jdbcType=INTEGER}
			  ,#{menu_name,jdbcType=VARCHAR}
			  ,#{price,jdbcType=VARCHAR}
			  ,#{img,jdbcType=VARCHAR}
			  ,#{grade,jdbcType=INTEGER}
			  ,#{origin,jdbcType=VARCHAR}
			  
	</insert>
	
</mapper>	