<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.spring.mapper.PayMapper">

	<insert id="insertPay" parameterType="PayVO">
	INSERT INTO pay values(seq_pay.nextval, #{u_id},#{s_num},#{pay_code},#{totalPrice},sysdate,#{imp_uid},#{s_name})
	</insert>
	
	<select id="purchaseList" parameterType="String" resultType="PayVO">
		select * from pay where u_id = #{u_id}
	</select>
	
	<select id="storeName" parameterType="PayVO" resultType="String">
	SELECT  s_name
  	  FROM  shop_reg
     WHERE  s_num =  #{s_num}
	</select>
	
	<delete id="cartEmpty" parameterType="PayVO">
	delete from cart where u_id=#{u_id}
	</delete>
	
	<select id="getList" parameterType="String" resultType="PayVO">
		select * 
		from pay p left outer join review re on p.u_id = re.u_id 
		where p.u_id = #{u_id}
	</select>
	
	<select id="getInfo" parameterType="int" resultType="PayVO">
		select * from pay where pay_num = #{pay_num}
	</select>
	
</mapper>