<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.spring.mapper.PayMapper">

	<insert id="insertPay" parameterType="PayVO">
	INSERT INTO pay values(seq_pay.nextval, #{u_id},#{s_num},#{pay_code},#{totalPrice},sysdate,#{imp_uid},#{s_name})
	</insert>
	
	<select id="purchaseList" parameterType="PayVO" resultType="PayVO">
	SELECT  *
  	  FROM  shop_reg s, pay p
     WHERE  s.s_num = p.s_num 
       AND  p.u_id = #{u_id}
	</select>
	
	<select id="storeName" parameterType="PayVO" resultType="String">
	SELECT  s_name
  	  FROM  shop_reg
     WHERE  s_num =  #{s_num}
	</select>
	
	<delete id="cartEmpty" parameterType="PayVO">
	delete from cart where u_id=#{u_id}
	</delete>
	
	
	
</mapper>