<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
 <mapper namespace="com.spring.mapper.QnaStoreMapper">
 
	 <select id="getListCounts" resultType="int">
	 	SELECT count(*) FROM qna_store
	 </select>
 
 	<select id="getQnaList" parameterType="HashMap" resultType="QnaStoreVO">	
	<![CDATA[
	SELECT * 
	FROM (SELECT rownum rnum,qnastore_num,u_id,title,content,re_date,re_ref,re_lev,re_seq 
	FROM (SELECT * FROM qna_store ORDER BY re_ref desc, re_seq asc)) 
	WHERE rnum>=#{startrow} AND rnum<=#{endrow}
	 ]]>
	</select>
	
	<insert id="qnaInsert" parameterType="QnaStoreVO">
		<selectKey keyProperty="qnastore_num" order="BEFORE" resultType="int">
			SELECT nvl(max(qnastore_num), 0)+1 FROM qna_store
		</selectKey>
		INSERT INTO qna_store VALUES (#{qnastore_num}, #{u_id}, #{title}, #{content},sysdate,#{qnastore_num}, #{re_lev}, #{re_seq})
	</insert>
	
	<select id="getDetail" parameterType="int" resultType="QnaStoreVO">
 		SELECT * FROM qna_store WHERE qnastore_num=#{qnastore_num}
 	</select>
 	
 	<update id="qnaModify" parameterType="QnaStoreVO">
		UPDATE qna_store SET title=#{title}, content=#{content} WHERE qnastore_num=#{qnastore_num}
	</update>
	
	<delete id="qnaDelete" parameterType="int">
		DELETE FROM qna_store WHERE qna_num=#{qnastore_num}
	</delete>
	
	<select id="isBoardWriter" parameterType="HashMap" resultType="int">
		SELECT count(*) FROM qna_store WHERE qnastore_num=#{qnastore_num} and u_id=#{u_id}
	</select>
	
		<insert id="qnaReplyupdate" parameterType="QnaStoreVO">
		UPDATE qna_store SET re_seq = re_seq+1 WHERE re_ref = #{re_ref} and re_seq > #{re_seq}
	</insert>
	
	<insert id="qnaReply" parameterType="QnaStoreVO">
		<selectKey keyProperty="qna_num" order="BEFORE" resultType="int">
			SELECT nvl(max(qnastore_num), 0)+1 FROM qna_store
		</selectKey>
		INSERT INTO qna_store(qnastore_num,u_id,title,content,re_date,re_ref,re_lev,re_seq) 
		VALUES (#{qnastore_num}, #{u_id}, #{title}, #{content},sysdate , #{re_ref}, #{re_lev}, #{re_seq})
	</insert>
	
 
 </mapper>