<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.spring.mapper.StoreReviewMapper">

<select id="srReviewSelect" parameterType="SRReviewVO" resultType="SRReviewVO">
	SELECT  r.review_num	
		   ,r.u_id
		   ,r.s_num
		   ,r.title
		   ,r.content
		   ,r.star
		   ,r.REVIEW_IMG1
		   ,r.review_date
		   ,s.re_content
		   ,s.re_date  
 	  FROM  review r
           ,sub_review s
     where  r.review_num = s.review_num(+)
       and  r.s_num = s.s_num(+)
       and  r.s_num = #{s_num}
  ORDER BY  r.review_num
  
</select>

<select id="srReviewSelect_m" parameterType="SRReviewVO" resultType="SRReviewVO">
	SELECT  r.review_num	
		   ,r.u_id
		   ,r.s_num
		   ,r.title
		   ,r.content
		   ,r.star
		   ,r.REVIEW_IMG1
		   ,r.review_date
		   ,s.re_content
		   ,s.re_date  
 	  FROM  review r
           ,sub_review s
     where  r.review_num = s.review_num(+)
       and  r.s_num = s.s_num(+)
       and  r.u_id = #{u_id}
  ORDER BY  r.review_num
  
</select>

<select id="srReviewList" resultType="SRReviewVO" parameterType="SRReviewVO">
	SELECT  r.review_num	
		   ,r.u_id
		   ,r.s_num
		   ,r.title
		   ,r.content
		   ,r.star
		   ,r.photo1
		   ,r.review_date
		   ,s.re_content
		   ,s.re_date
		   ,s.comment_num	  
 	  FROM  review r
           ,sub_review s
     where  r.review_num = s.review_num(+)
       and  r.s_num = s.s_num(+)
       and  r.s_num = #{s_num}
       and  r.review_num = #{review_num}
</select>

<insert id="replyReviewInsert" parameterType="ReviewReplyVO">
		INSERT 
		  INTO sub_review
		VALUES(#{comment_num}
			  ,#{review_num}
			  ,#{u_id}
			  ,#{s_num}
			  ,#{re_content}
			  ,#{re_date}
		)
</insert>


<delete id="replyReviewDelete" parameterType="ReplyNoticeVO">
		DELETE 
		  FROM sub_review 
		 WHERE review_num=#{review_num} 
</delete>








</mapper>