<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.spring.mapper.StoreNoticeMapper">

<select id="srNoticeSelect" resultType="SRNoticeVO" parameterType="SRNoticeVO">
		SELECT s.s_comment_num
			  ,s.re_content
			  ,s.re_date
			  ,q.qs_num
			  ,q.u_id
			  ,q.content
			  ,q.qna_date
			  ,q.s_num
			  ,q.title			  
		 FROM  QNA_store q
    		  ,sub_qna_store s 
		where q.s_num = s.s_num(+) 
		  and q.qs_num = s.qs_num(+)
		  and q.s_num = #{s_num}
		ORDER BY q.qs_num
</select>

<select id="srNoticeList" resultType="SRNoticeVO" parameterType="SRNoticeVO">
		SELECT s.s_comment_num
			  ,s.re_content
			  ,s.re_date
			  ,q.qs_num
			  ,q.u_id
			  ,q.content
			  ,q.qna_date
			  ,q.s_num
			  ,q.title			  
		 FROM  QNA_store q
    		  ,sub_qna_store s 
		where q.s_num = s.s_num(+) 
		  and q.qs_num = s.qs_num(+)
		  and q.s_num = #{s_num}
		  and q.qs_num = #{qs_num}
</select>

<insert id="replyNoticeInsert" parameterType="ReplyNoticeVO">
		INSERT 
		INTO sub_qna_store
		VALUES(#{s_comment_num}
			  ,#{qs_num}
			  ,#{s_num}
			  ,#{u_id}
			  ,#{re_content}
			  ,#{re_date}
		)
</insert>

<delete id="replyNoticeDelete" parameterType="ReplyNoticeVO">
		DELETE FROM sub_qna_store WHERE qs_num=#{qs_num} 
</delete>



</mapper>